@model SPSA.Autorizadores.Aplicacion.ViewModel.InvCajaViewModel

<div class="row needs-validation" id="formInvCaja">
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNumCaja" class="form-label">Num Caja</label>
            <input type="number" class="form-control" id="txtNumCaja" value="@Model.InvCaja.NumCaja" required disabled>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboCodActivo" class="form-label">Activo</label>
            <select class="form-control custom-select" id="cboCodActivo" required disabled>
                <option value="">Seleccionar</option>
                @foreach (var activo in Model.TiposActivo)
                {
                <option value="@activo.CodActivo" @(Model.InvCaja.CodActivo == activo.CodActivo ? "selected" : "")>@activo.NomActivo</option>
                }
            </select>
        </div>
    </div>
    @*<div class="col-xl-3">
            <div class="form-group">
                <label for="txtCodModelo" class="form-label">Marca</label>
                <input type="text" class="form-control" id="txtCodModelo" value="@Model.InvCaja.CodModelo">
            </div>
        </div>*@
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboCodModelo" class="form-label">Marca</label>
            <select class="form-control custom-select" id="cboCodModelo" name="CodModelo" required>
                <option value="">Seleccionar</option>
                @foreach (var tp in Model.TiposModelo)
             {
                <option value="@tp" @(Model.InvCaja.CodModelo == tp ? "selected" : "")>@tp</option>
             }
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCodSerie" class="form-label">Serie</label>
            <input type="text" class="form-control" id="txtCodSerie" value="@Model.InvCaja.CodSerie">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNumAdenda" class="form-label">NumAdenda</label>
            <input type="text" class="form-control" id="txtNumAdenda" value="@Model.InvCaja.NumAdenda">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboTipProcesador" class="form-label">Tip Procesador</label>
            <select class="form-control custom-select" id="cboTipProcesador" name="TipProcesador" required>
                <option value="">Seleccionar</option>
                @foreach (var tp in Model.TiposProcesador)
                {
                <option value="@tp" @(Model.InvCaja.TipProcesador == tp ? "selected" : "")>@tp</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboMemoria" class="form-label">Memoria</label>
            <select class="form-control custom-select" id="cboMemoria" name="Memoria" required>
                <option value="">Seleccionar</option>
                @foreach (var m in Model.TiposMemoria)
                {
                <option value="@m" @(Model.InvCaja.Memoria == m ? "selected" : "")>@m</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboSo" class="form-label">SO</label>
            <select class="form-control custom-select" id="cboSo" name="DesSo" required>
                <option value="">Seleccionar</option>
                @foreach (var s in Model.TiposSo)
                {
                <option value="@s" @(Model.InvCaja.DesSo == s ? "selected" : "")>@s</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboVerSo" class="form-label">Ver So</label>
            <select class="form-control custom-select" id="cboVerSo" name="VerSo" required>
                <option value="">Seleccionar</option>
                @foreach (var v in Model.TiposVerSo)
                {
                <option value="@v" @(Model.InvCaja.VerSo == v ? "selected" : "")>@v</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboCapDisco" class="form-label">Cap Disco</label>
            <select class="form-control custom-select" id="cboCapDisco" name="CapDisco" required>
                <option value="">Seleccionar</option>
                @foreach (var c in Model.TiposCapDisco)
                {
                <option value="@c" @(Model.InvCaja.CapDisco == c ? "selected" : "")>@c</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboDesPuertoBalanza" class="form-label">Puerto Balanza</label>
            <select class="form-control custom-select" id="cboDesPuertoBalanza" name="DesPuertoBalanza" required>
                <option value="">Seleccionar</option>
                @foreach (var c in Model.TiposPuertoBalanza)
             {
                <option value="@c" @(Model.InvCaja.DesPuertoBalanza == c ? "selected" : "")>@c</option>
             }
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboTipEstado" class="form-label">Estado</label>
            <select class="form-control custom-select" id="cboTipEstado" required>
                <option value="">Seleccionar</option>
                <option value="A" @(Model.InvCaja.TipEstado == "A" ? "selected" : "")>ACTIVO</option>
                <option value="V" @(Model.InvCaja.TipEstado == "V" ? "selected" : "")>VENCIDO</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtFecGarantia" class="form-label">Fec Garantia</label>
            <input type="date" class="form-control" id="txtFecGarantia" name="InvCaja.FecGarantia"
                   value="@(Model.InvCaja.FecGarantia.HasValue ? Model.InvCaja.FecGarantia.Value.ToString("yyyy-MM-dd") : "")" required>
        </div>
    </div>

</div>