<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Sistema de gestión de cajas</title>
    <!--Favicon -->
    <link rel="icon" href="~/Content/images/brand/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" id="style" />

    <!-- Style css -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/plugins.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="~/Content/css/animated.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="~/Content/css/icons.css" rel="stylesheet" />

    @RenderSection("css", false)
</head>
<body class="app sidebar-mini ltr color-menu color-header">

    <!---Global-loader-->
    <div id="global-loader">
        <img src="~/Content/images/svgs/loader.svg" alt="loader">
    </div>
    <div class="page">
        <div class="page-main">

            <!--app header-->
            <div class="app-header header sticky">
                <div class="container-fluid main-container">
                    <div class="d-flex">
                        <a class="header-brand" href="/autorizadores">
                            <img src="~/Content/images/brand/logo-super-food.png"
                                 style="width: 120px"
                                 class="header-brand-img desktop-lgo"
                                 alt="Dayonelogo" />
                            <img src="~/Content/images/brand/logo-super-food.png"
                                 class="header-brand-img dark-logo"
                                 style="width: 120px"
                                 alt="Dayonelogo" />
                            <img src="~/Content/images/brand/logo-super-food-1.png"
                                 style="width: 60px"
                                 class="header-brand-img mobile-logo"
                                 alt="Dayonelogo" />
                            <img src="~/Content/images/brand/logo-super-food-1.png"
                                 class="header-brand-img darkmobile-logo"
                                 style="width: 60px"
                                 alt="Dayonelogo" />
                        </a>
                        <div class="app-sidebar__toggle" data-bs-toggle="sidebar">
                            <a class="open-toggle" href="javascript:void(0);">
                                <i class="feather feather-menu"></i>
                            </a>
                            <a class="close-toggle" href="javascript:void(0);">
                                <i class="feather feather-x"></i>
                            </a>
                        </div>

                        <div class="d-flex order-lg-2 my-auto ms-auto">
                            <button class="navbar-toggler nav-link icon navresponsive-toggler vertical-icon ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                            </button>
                            <div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                    <div class="d-flex ms-auto">
                                        <a class="nav-link  icon p-0 nav-link-lg d-lg-none navsearch" href="javascript:void(0);" data-bs-toggle="search">
                                            <i class="feather feather-search search-icon header-icon"></i>
                                        </a>
                                        <div class="mt-3 mx-3 text-white">
                                            @Html.Raw($"<h6><b>LOCAL: {SPSA.Autorizadores.Web.Utiles.WebSession.NombreLocal} </b> </h6>")
                                        </div>
                                        <div class="dropdown profile-dropdown">
                                            <a href="javascript:void(0);" class="nav-link pe-1 ps-0 leading-none" data-bs-toggle="dropdown">
                                                <span>
                                                    <i class="fa fa-user-circle-o" style="font-size:30px;"></i>
                                                </span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow animated">
                                                <a class="dropdown-item d-flex" id="btnCerrarSesion">
                                                    <i class="feather feather-power me-3 fs-16 my-auto"></i>
                                                    <div class="mt-1">Cerra sesión</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/app header-->
            <!--app-sidebar-->
            <div class="sticky">
                <aside class="app-sidebar">
                    <div class="app-sidebar__logo" style="background-color: white !important;">
                        <a class="header-brand" href="~/Home">
                            <img src="~/Content/images/brand/logo-super-food.png"
                                 style="max-width: 60% !important;"
                                 class="header-brand-img desktop-lgo"
                                 alt="logo-super-food" />
                            <img src="~/Content/images/brand/logo-super-food.png"
                                 class="header-brand-img dark-logo"
                                 style="max-width: 60% !important;"
                                 alt="Dayonelogo" />
                            <img src="~/Content/images/brand/logo-super-food-1.png"
                                 class="header-brand-img mobile-logo"
                                 alt="Dayonelogo" />
                            <img src="~/Content/images/brand/logo-super-food-1.png"
                                 class="header-brand-img darkmobile-logo" style="margin-top: 0 !important;"
                                 alt="Dayonelogo" />
                        </a>
                    </div>
                    <div class="app-sidebar3">
                        <div class="main-menu">
                            <div class="app-sidebar__user">
                                <div class="dropdown user-pro-body text-center">
                                    <div class="user-pic">
                                        <img src="~/Content/images/users/user-icon.png" alt="user-img" class="avatar-xl mb-1">
                                    </div>
                                    <div class="user-info">
                                        @Html.Raw($"<h6 class='mb-2'>{SPSA.Autorizadores.Web.Utiles.WebSession.UserName}</h6>")
                                        @Html.Raw($"<span class='text-muted app-sidebar__user-name text-sm'>{SPSA.Autorizadores.Web.Utiles.WebSession.Login}</span>")

                                    </div>
                                </div>
                            </div>
                            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" /></svg></div>
                            <ul class="side-menu">

                                @if (SPSA.Autorizadores.Web.Utiles.WebSession.Permisos != null)
                                {
                                    if (SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.Any(x => x.Id == 2))
                                    {
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                                <i class="feather feather-lock sidemenu_icon"></i>
                                                <span class="side-menu__label">
                                                    @SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.FirstOrDefault(x => x.Id == 2).DesPermiso
                                                </span><i class="angle fa fa-angle-right"></i>
                                            </a>
                                            <ul class="slide-menu">
                                                <li class="side-menu-label1">
                                                    <a href="javascript:void(0);">@SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.FirstOrDefault(x => x.Id == 2).DesPermiso</a>
                                                </li>
                                                @foreach (var item in SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.Where(x => x.Nivel == 3).ToList())
                                                {
                                                    if (item.Id == 5)
                                                    {
                                                        <li class="sub-slide">
                                                            <a class="sub-side-menu__item lh-1" data-bs-toggle="sub-slide"
                                                               href="~/Seguridad/CambioLocal">
                                                                <span class="sub-side-menu__label">
                                                                    @item.DesPermiso
                                                                </span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }

                                    if (SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.Any(x => x.Id == 3))
                                    {
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                                <i class="feather feather-users sidemenu_icon"></i>
                                                <span class="side-menu__label">
                                                    @SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.FirstOrDefault(x => x.Id == 3).DesPermiso
                                                </span><i class="angle fa fa-angle-right"></i>
                                            </a>
                                            <ul class="slide-menu">
                                                <li class="side-menu-label1">
                                                    <a href="javascript:void(0);">@SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.FirstOrDefault(x => x.Id == 3).DesPermiso</a>
                                                </li>
                                                @foreach (var item in SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.Where(x => x.Nivel == 3).ToList())
                                                {
                                                    if (item.Id == 6)
                                                    {
                                                        <li class="sub-slide">
                                                            <a class="sub-side-menu__item lh-1" data-bs-toggle="sub-slide"
                                                               href="~/Autorizadores/Administrar">
                                                                <span class="sub-side-menu__label">
                                                                    @item.DesPermiso
                                                                </span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else if (item.Id == 8)
                                                    {
                                                        <li class="sub-slide">
                                                            <a class="sub-side-menu__item lh-1" data-bs-toggle="sub-slide"
                                                               href="~/Autorizadores/EliminarAutorizador">
                                                                <span class="sub-side-menu__label">
                                                                    @item.DesPermiso
                                                                </span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else if (item.Id == 9)
                                                    {
                                                        <li class="sub-slide">
                                                            <a class="sub-side-menu__item lh-1" data-bs-toggle="sub-slide"
                                                               href="~/Autorizadores/AsignarLocal">
                                                                <span class="sub-side-menu__label">
                                                                    @item.DesPermiso
                                                                </span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else if (item.Id == 10)
                                                    {
                                                        <li class="sub-slide">
                                                            <a class="sub-side-menu__item lh-1" data-bs-toggle="sub-slide"
                                                               href="~/Autorizadores/Puesto">
                                                                <span class="sub-side-menu__label">
                                                                    @item.DesPermiso
                                                                </span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else if (item.Id == 11)
                                                    {
                                                        <li class="sub-slide">
                                                            <a class="sub-side-menu__item lh-1" data-bs-toggle="sub-slide"
                                                               href="~/Autorizadores/AutorizadoresMass">
                                                                <span class="sub-side-menu__label">
                                                                    @item.DesPermiso
                                                                </span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }

                                    if (SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.Any(x => x.Id == 12))
                                    {
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                                <i class="feather feather-check-square sidemenu_icon"></i>
                                                <span class="side-menu__label">
                                                    @SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.FirstOrDefault(x => x.Id == 12).DesPermiso
                                                </span><i class="angle fa fa-angle-right"></i>
                                            </a>
                                            <ul class="slide-menu">
                                                <li class="side-menu-label1">
                                                    <a href="javascript:void(0);">@SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.FirstOrDefault(x => x.Id == 12).DesPermiso</a>
                                                </li>
                                                @foreach (var item in SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.Where(x => x.Nivel == 3).ToList())
                                                {
                                                    if (item.Id == 13)
                                                    {
                                                        <li class="sub-slide">
                                                            <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                                               href="~/Monitor/CierreEOD">
                                                                <span class="sub-side-menu__label">
                                                                    @item.DesPermiso
                                                                </span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }

                                    if (SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.Any(x => x.Id == 14))
                                    {
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                                <i class="fe fe-layers sidemenu_icon"></i>
                                                <span class="side-menu__label">
                                                    @SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.FirstOrDefault(x => x.Id == 14).DesPermiso
                                                </span><i class="angle fa fa-angle-right"></i>
                                            </a>
                                            <ul class="slide-menu">
                                                <li class="side-menu-label1">
                                                    <a href="javascript:void(0);">@SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.FirstOrDefault(x => x.Id == 14).DesPermiso</a>
                                                </li>
                                                @foreach (var item in SPSA.Autorizadores.Web.Utiles.WebSession.Permisos.Where(x => x.Nivel == 3).ToList())
                                                {
                                                    if (item.Id == 15)
                                                    {
                                                        <li class="sub-slide">
                                                            <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                                               href="~/Locales/AdministrarLocal">
                                                                <span class="sub-side-menu__label">
                                                                    @item.DesPermiso
                                                                </span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                }




                            </ul>
                            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" /></svg></div>
                            <div class="Annoucement_card">
                                <div class="text-center">
                                    <div>
                                        <p class="subtext mt-0 mb-0 fs-11 text-center"> Ambiente <span id="Ambiente">@SPSA.Autorizadores.Web.Utiles.WebSession.SistemaAmbiente</span> - Versión <span>@SPSA.Autorizadores.Web.Utiles.WebSession.SistemaVersion</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <!--app-sidebar closed-->

            <div class="app-content main-content">
                <div class="side-app main-container">
                    @RenderBody()
                </div>
            </div><!-- end app-content-->
        </div>

        <!--Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                        Copyright © <a href="javascript:void(0);">Super Food Holding</a> <span>2022</span>. Todos los derechos reservados.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer-->
        <!--sidebar-right-->
        <div class="sidebar sidebar-right sidebar-animate">
        </div>
        <!--/sidebar-right-->
        <!-- Modal Loading-->
        <div class="modal" id="modalLoading" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="text-center">Procesando...</h4>
                        <div class="dimmer active" id="loader">
                            <div class="sk-circle">
                                <div class="sk-circle1 sk-child"></div>
                                <div class="sk-circle2 sk-child"></div>
                                <div class="sk-circle3 sk-child"></div>
                                <div class="sk-circle4 sk-child"></div>
                                <div class="sk-circle5 sk-child"></div>
                                <div class="sk-circle6 sk-child"></div>
                                <div class="sk-circle7 sk-child"></div>
                                <div class="sk-circle8 sk-child"></div>
                                <div class="sk-circle9 sk-child"></div>
                                <div class="sk-circle10 sk-child"></div>
                                <div class="sk-circle11 sk-child"></div>
                                <div class="sk-circle12 sk-child"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div style="display:none">
                <div class="dimmer active" id="loader">
                    <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                </div>
            </div>*@

    </div>

    <script>
        var baseUrl = "@Url.Content("~")";
        var home = '@Url.Action("Index", "Home", new { area = "" })';
        var rucSession = '@SPSA.Autorizadores.Web.Utiles.WebSession.Ruc';
        var codigoLocalSession = '@SPSA.Autorizadores.Web.Utiles.WebSession.Local';
        var codigoEmpresa = '@SPSA.Autorizadores.Web.Utiles.WebSession.CodigoEmpresa';

        var dataTableColaborador = null;
        var dataTableColaboradorCesados = null;
        var dataTableAutorizador = null;
        var dataTableBusquedaColaborador = null;
        var dataTableLocalesAsignar = null;
        var dataTableRoles = null;
        var dataTableColaboradorMass = null;
        var dataTableAutorizadorMass = null;

    </script>



    <!-- Jquery js-->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>

    <!--Moment js-->
    <script src="~/Content/plugins/moment/moment.js"></script>

    <!-- Bootstrap js-->
    <script src="~/Content/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Othercharts js-->
    <script src="~/Content/plugins/othercharts/jquery.sparkline.min.js"></script>

    <!-- Circle-progress js-->
    <script src="~/Content/plugins/circle-progress/circle-progress.min.js"></script>

    <!--Sidemenu js-->
    <script src="~/Content/plugins/sidemenu/sidemenu.js"></script>

    <!-- P-scroll js-->
    <script src="~/Content/plugins/p-scrollbar/p-scrollbar.js"></script>
    <script src="~/Content/plugins/p-scrollbar/p-scroll1.js"></script>

    <!--Sidebar js-->
    <script src="~/Content/plugins/sidebar/sidebar.js"></script>

    <!-- Select2 js -->
    <script src="~/Content/plugins/select2/select2.full.min.js"></script>

    <!-- INTERNAL Form Advanced Element -->
    <script src="~/Content/js/select2.js"></script>

    <!--Sticky js -->
    <script src="~/Content/js/sticky.js"></script>

    <!-- Color Theme js -->
    <script src="~/Content/js/themeColors.js"></script>

    <!-- custom js -->
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/js/utiles.js"></script>
    <script src="~/Content/js/CheckSession.js"></script>
    <script src="~/Content/ViewJs/Home.js"></script>

    <script>
        const date = new Date();
        $("#anio").append(date.getFullYear());
    </script>

    @RenderSection("scripts", false)
</body>
</html>
