@model SPSA.Autorizadores.Aplicacion.Features.Cajas.DTOs.MaeCajaDTO

<div class="row needs-validation" id="formCaja">
    <div class="col-xl-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label for="txtCodigo" class="form-label">Nro. Caja</label>
            <input type="number" class="form-control form-control-sm" id="txtNumCaja" value="@Model.NumCaja" required>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label for="txtCodigo" class="form-label">IP Caja</label>
            <input type="text" class="form-control form-control-sm" id="txtIpAddress" value="@Model.IpAddress" required>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12">
        <div class="form-group select2-sm">
            <label class="form-label">Sist. Op.</label>
            <select class="form-control select2-show-modal custom-select" id="cboTipOs" required>
                <option label="Seleccionar"></option>
                <option @(Model.TipOs == "L" ? "selected" : "") value="L">LINUX</option>
                <option @(Model.TipOs == "W" ? "selected" : "") value="W">WINDOWS</option>
            </select>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12">
        <div class="form-group select2-sm">
            <label class="form-label">Estado</label>
            <select class="form-control select2-show-modal custom-select" id="cboTipEstado" required>
                <option @(Model.TipEstado == "A" ? "selected" : "") value="A" selected>ACTIVO</option>
                <option @(Model.TipEstado == "E" ? "selected" : "") value="E">ELIMINADO</option>
            </select>
        </div>
    </div>
</div>
