
@model SPSA.Autorizadores.Aplicacion.ViewModel.InvCajaViewModel

<div class="row needs-validation" id="formInvCaja">
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNumCaja" class="form-label">Num Caja</label>
            <input type="number" class="form-control" id="txtNumCaja" value="@Model.InvCaja.NumCaja" required>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboCodActivo" class="form-label">Activo</label>
            <select class="form-control custom-select" id="cboCodActivo" required>
                <option value="">Seleccionar</option>
                @foreach (var activo in Model.TiposActivo)
                {
                    <option value="@activo.CodActivo" @(Model.InvCaja.CodActivo == activo.CodActivo ? "selected" : "")>@activo.NomActivo</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCodModelo" class="form-label">Marca</label>
            <input type="text" class="form-control" id="txtCodModelo" value="@Model.InvCaja.CodModelo">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCodSerie" class="form-label">Serie</label>
            <input type="text" class="form-control" id="txtCodSerie" value="@Model.InvCaja.CodSerie">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNumAdenda" class="form-label">NumAdenda</label>
            <input type="text" class="form-control" id="txtNumAdenda" value="@Model.InvCaja.NumAdenda">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtTipProcesador" class="form-label">Tip Procesador</label>
            <input type="text" class="form-control" id="txtTipProcesador" value="@Model.InvCaja.TipProcesador">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtMemoria" class="form-label">Memoria</label>
            <input type="text" class="form-control" id="txtMemoria" value="@Model.InvCaja.Memoria">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtDesSo" class="form-label">SO</label>
            <input type="text" class="form-control" id="txtDesSo" value="@Model.InvCaja.DesSo">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtVerSo" class="form-label">VerSo</label>
            <input type="text" class="form-control" id="txtVerSo" value="@Model.InvCaja.VerSo">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCapDisco" class="form-label">CapDisco</label>
            <input type="text" class="form-control" id="txtCapDisco" value="@Model.InvCaja.CapDisco">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtDesPuertoBalanza" class="form-label">DesPuertoBalanza</label>
            <input type="text" class="form-control" id="txtDesPuertoBalanza" value="@Model.InvCaja.DesPuertoBalanza">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboTipEstado" class="form-label">Estado</label>
            <select class="form-control custom-select" id="cboTipEstado" required>
                <option value="">Seleccionar</option>
                <option value="A" @(Model.InvCaja.TipEstado == "A" ? "selected" : "")>ACTIVO</option>
                <option value="V" @(Model.InvCaja.TipEstado == "V" ? "selected" : "")>VENCIDO</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtFecGarantia" class="form-label">Fec Garantia</label>
            <input type="date" class="form-control" id="txtFecGarantia" value="@Model.InvCaja.FecGarantia" required>
        </div>
    </div>
</div>