
@model SPSA.Autorizadores.Aplicacion.DTO.InvCajaDTO

<div class="row needs-validation" id="formInvCaja">
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNumCaja" class="form-label">Num Caja</label>
            <input type="number" class="form-control" id="txtNumCaja" value="@Model.NumCaja" required>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCodActivo" class="form-label">Activo</label>
            <input type="text" class="form-control" id="txtCodActivo" value="@Model.CodActivo" required>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNomActivo" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="txtCodActivo" value="@Model.InvTipoActivo.NomActivo" required>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCodModelo" class="form-label">Marca</label>
            <input type="text" class="form-control" id="txtCodModelo" value="@Model.CodModelo">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCodSerie" class="form-label">Serie</label>
            <input type="text" class="form-control" id="txtCodSerie" value="@Model.CodSerie">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNumAdenda" class="form-label">NumAdenda</label>
            <input type="text" class="form-control" id="txtNumAdenda" value="@Model.NumAdenda">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtTipProcesador" class="form-label">Tip Procesador</label>
            <input type="text" class="form-control" id="txtTipProcesador" value="@Model.TipProcesador">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtMemoria" class="form-label">Memoria</label>
            <input type="text" class="form-control" id="txtMemoria" value="@Model.Memoria">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtDesSo" class="form-label">SO</label>
            <input type="text" class="form-control" id="txtDesSo" value="@Model.DesSo">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtVerSo" class="form-label">VerSo</label>
            <input type="text" class="form-control" id="txtVerSo" value="@Model.VerSo">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCapDisco" class="form-label">CapDisco</label>
            <input type="text" class="form-control" id="txtCapDisco" value="@Model.CapDisco">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtDesPuertoBalanza" class="form-label">DesPuertoBalanza</label>
            <input type="text" class="form-control" id="txtDesPuertoBalanza" value="@Model.DesPuertoBalanza">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboTipEstado" class="form-label">Estado</label>
            <select class="form-control custom-select" id="cboTipEstado" required>
                <option value="">Seleccionar</option>
                <option value="A" @(Model.TipEstado == "A" ? "selected" : "")>ACTIVO</option>
                <option value="V" @(Model.TipEstado == "V" ? "selected" : "")>VENCIDO</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtFecGarantia" class="form-label">Fec Garantia</label>
            <input type="date" class="form-control" id="txtFecGarantia" value="@Model.FecGarantia" required>
        </div>
    </div>

</div>