
@model SPSA.Autorizadores.Aplicacion.ViewModel.InvActivoViewModel

<div class="row needs-validation" id="formInvActivo">
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboCodActivo" class="form-label">Activo</label>
            <select class="form-control custom-select" id="cboCodActivo" required>
                <option value="">Seleccionar</option>
                @foreach (var activo in Model.TiposActivo)
                {
                    <option value="@activo.CodActivo" @(Model.InvActivo.CodActivo == activo.CodActivo ? "selected" : "")>@activo.NomActivo</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCodModelo" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="txtCodModelo" value="@Model.InvActivo.CodModelo" required>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNomMarca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="txtNomMarca" value="@Model.InvActivo.NomMarca" required>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCodSerie" class="form-label">Serie</label>
            <input type="text" class="form-control" id="txtCodSerie" value="@Model.InvActivo.CodSerie" required>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtIp" class="form-label">IP</label>
            <input type="text" class="form-control" id="txtIp" value="@Model.InvActivo.Ip">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNomArea" class="form-label">Area</label>
            <input type="text" class="form-control" id="txtNomArea" value="@Model.InvActivo.NomArea">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNumOc" class="form-label">OC</label>
            <input type="text" class="form-control" id="txtNumOc" value="@Model.InvActivo.NumOc">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNumGuia" class="form-label">Guia</label>
            <input type="text" class="form-control" id="txtNumGuia" value="@Model.InvActivo.NumGuia">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtAntiguedad" class="form-label">Antiguedad</label>
            <input type="text" class="form-control" id="txtAntiguedad" value="@Model.InvActivo.Antiguedad">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtObservacion" class="form-label">Observacion</label>
            <input type="text" class="form-control" id="txtObservacion" value="@Model.InvActivo.Observacion">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtGarantia" class="form-label">Garantia</label>
            <input type="text" class="form-control" id="txtGarantia" value="@Model.InvActivo.Garantia">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboIndOperativo" class="form-label">Estado</label>
            <select class="form-control custom-select" id="cboIndOperativo" required>
                @*<option value="">Seleccionar</option>*@
                <option value="A" @(Model.InvActivo.IndOperativo == "A" ? "selected" : "")>ACTIVO</option>
                <option value="I" @(Model.InvActivo.IndOperativo == "I" ? "selected" : "")>INACTIVO</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtFecSalida" class="form-label">Fec Salida</label>
            <input type="date" class="form-control" id="txtFecSalida" value="@Model.InvActivo.FecSalida" required>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtFecActualiza" class="form-label">Fec Actualiza</label>
            <input type="date" class="form-control" id="txtFecActualiza" value="@Model.InvActivo.FecActualiza" required>
        </div>
    </div>
</div>