
@model SPSA.Autorizadores.Aplicacion.ViewModel.InvActivoViewModel

<div class="row needs-validation" id="formInvActivo">
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboCodActivo" class="form-label">Activo</label>
            <select class="form-control custom-select" id="cboCodActivo" required disabled>
                <option value="">Seleccionar</option>
                @foreach (var activo in Model.TiposActivo)
                {
                    <option value="@activo.CodActivo" @(Model.InvActivo.CodActivo == activo.CodActivo ? "selected" : "")>@activo.NomActivo</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCodModelo" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="txtCodModelo" value="@Model.InvActivo.CodModelo" required disabled>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNomMarca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="txtNomMarca" value="@Model.InvActivo.NomMarca" required disabled>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtCodSerie" class="form-label">Serie</label>
            <input type="text" class="form-control" id="txtCodSerie" value="@Model.InvActivo.CodSerie" required disabled>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtIp" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="txtCantidad" value="@Model.InvActivo.Cantidad">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtIp" class="form-label">IP</label>
            <input type="text" class="form-control" id="txtIp" value="@Model.InvActivo.Ip">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNomArea" class="form-label">Area</label>
            @*<input type="text" class="form-control" id="txtNomArea" value="@Model.InvActivo.NomArea">*@
            <select class="form-control custom-select" id="cboNomArea">
                <option value="">Seleccionar</option>
                <option value="-" @(Model.InvActivo.NomArea == "-" ? "selected" : "")>-</option>
                <option value="AREA COMERCIAL" @(Model.InvActivo.NomArea == "AREA COMERCIAL" ? "selected" : "")>AREA COMERCIAL</option>
                <option value="CAJAS" @(Model.InvActivo.NomArea == "CAJAS" ? "selected" : "")>CAJAS</option>
                <option value="CARNES" @(Model.InvActivo.NomArea == "CARNES" ? "selected" : "")>CARNES</option>
                <option value="COMERCIAL" @(Model.InvActivo.NomArea == "COMERCIAL" ? "selected" : "")>COMERCIAL</option>
                <option value="COMIDAS" @(Model.InvActivo.NomArea == "COMIDAS" ? "selected" : "")>COMIDAS</option>
                <option value="COMIDAS PREPARADAS" @(Model.InvActivo.NomArea == "COMIDAS PREPARADAS" ? "selected" : "")>COMIDAS PREPARADAS</option>
                <option value="CONTRALOR" @(Model.InvActivo.NomArea == "CONTRALOR" ? "selected" : "")>CONTRALOR</option>
                <option value="ELECTRO" @(Model.InvActivo.NomArea == "ELECTRO" ? "selected" : "")>ELECTRO</option>
                <option value="FIAMBRES" @(Model.InvActivo.NomArea == "FIAMBRES" ? "selected" : "")>FIAMBRES</option>
                <option value="FRUTAS Y VERDURAS" @(Model.InvActivo.NomArea == "FRUTAS Y VERDURAS" ? "selected" : "")>FRUTAS Y VERDURAS</option>
                <option value="GESTION HUMANA" @(Model.InvActivo.NomArea == "GESTION HUMANA" ? "selected" : "")>GESTION HUMANA</option>
                <option value="LAB CARNES" @(Model.InvActivo.NomArea == "LAB CARNES" ? "selected" : "")>LAB CARNES</option>
                <option value="LAB FYV" @(Model.InvActivo.NomArea == "LAB FYV" ? "selected" : "")>LAB FYV</option>
                <option value="LABORATORIO" @(Model.InvActivo.NomArea == "LABORATORIO" ? "selected" : "")>LABORATORIO</option>
                <option value="PANADERIA" @(Model.InvActivo.NomArea == "PANADERIA" ? "selected" : "")>PANADERIA</option>
                <option value="PESCADOS" @(Model.InvActivo.NomArea == "PESCADOS" ? "selected" : "")>PESCADOS</option>
                <option value="POOL OFICINA" @(Model.InvActivo.NomArea == "POOL OFICINA" ? "selected" : "")>POOL OFICINA</option>
                <option value="RECEPCION" @(Model.InvActivo.NomArea == "RECEPCION" ? "selected" : "")>RECEPCION</option>
                <option value="SALA CAPACITACIONES" @(Model.InvActivo.NomArea == "SALA CAPACITACIONES" ? "selected" : "")>SALA CAPACITACIONES</option>
                <option value="SALA DE REUNIONES" @(Model.InvActivo.NomArea == "SALA DE REUNIONES" ? "selected" : "")>SALA DE REUNIONES</option>
                <option value="SALA DE VENTAS" @(Model.InvActivo.NomArea == "SALA DE VENTAS" ? "selected" : "")>SALA DE VENTAS</option>
                <option value="SELFCHECKOUT" @(Model.InvActivo.NomArea == "SELFCHECKOUT" ? "selected" : "")>SELFCHECKOUT</option>
                <option value="SMS" @(Model.InvActivo.NomArea == "SMS" ? "selected" : "")>SMS</option>
                <option value="TESORERIA" @(Model.InvActivo.NomArea == "TESORERIA" ? "selected" : "")>TESORERIA</option>
                <option value="TIENDA" @(Model.InvActivo.NomArea == "TIENDA" ? "selected" : "")>TIENDA</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNumOc" class="form-label">OC</label>
            <input type="text" class="form-control" id="txtNumOc" value="@Model.InvActivo.NumOc">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtNumGuia" class="form-label">Num Guia</label>
            <input type="text" class="form-control" id="txtNumGuia" value="@Model.InvActivo.NumGuia">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtAntiguedad" class="form-label">Antiguedad</label>
            <input type="text" class="form-control" id="txtAntiguedad" value="@Model.InvActivo.Antiguedad">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtObservacion" class="form-label">Observacion</label>
            <input type="text" class="form-control" id="txtObservacion" value="@Model.InvActivo.Observacion">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtGarantia" class="form-label">Garantia</label>
            <input type="text" class="form-control" id="txtGarantia" value="@Model.InvActivo.Garantia">
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="cboIndOperativo" class="form-label">Estado</label>
            <select class="form-control custom-select" id="cboIndOperativo" required>
                @*<option value="">Seleccionar</option>*@
                <option value="A" @(Model.InvActivo.IndOperativo == "A" ? "selected" : "")>ACTIVO</option>
                <option value="I" @(Model.InvActivo.IndOperativo == "I" ? "selected" : "")>INACTIVO</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtFecSalida" class="form-label">Fec Salida</label>
            <input type="date" class="form-control" id="txtFecSalida" value="@Model.InvActivo.FecSalida" required>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="form-group">
            <label for="txtFecActualiza" class="form-label">Fec Actualiza</label>
            <input type="date" class="form-control" id="txtFecActualiza" value="@Model.InvActivo.FecActualiza" required>
        </div>
    </div>
</div>