@{
    ViewBag.Title = "Mantenimiento | Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Administrar Inventario Activos</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Inventario</li>
            <li class="breadcrumb-item1 active">Activos</li>
        </ol>
    </div>
</div>

<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden needs-validation" id="formInventario">
            @Html.Partial("_CardHeader", "Listado de activos")

            <div class="card-body pt-2 pb-0">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Empresa</label>
                            <select class="form-control is-valid select2-show-search custom-select" id="cboEmpresa" required>
                                <option label="Seleccione una empresa"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Cadena</label>
                            <select class="form-control select2-show-search custom-select" id="cboCadena" required>
                                <option label="Seleccione una cadena"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Region</label>
                            <select class="form-control select2-show-search custom-select" id="cboRegion" required>
                                <option label="Seleccione una region"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Zona</label>
                            <select class="form-control select2-show-search custom-select" id="cboZona" required>
                                <option label="Seleccione una zona"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Local</label>
                            <select class="form-control select2-show-search custom-select" id="cboLocal" required>
                                <option label="Seleccione un local"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label"></label>
                            <button type="button" id="btnBuscarLocalPorEmpresa" class="btn btn-sm btn-primary btn-block"><i class="fa fa-search"></i> Buscar x Empresa</button>
                        </div>
                    </div>

                    @*<div class="col-xl-2 col-md-6">
                            <div class="form-group select2-sm">
                                <label class="form-label"></label>
                                <button type="button" id="btnEliminarPorLocal" class="btn btn-sm btn-outline-danger btn-block"><i class="fa fa-trash"></i> Eliminar Bloque</button>
                            </div>
                        </div>*@
                </div>

            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12">


                        <div class="row">


                            <div class="col-12 d-flex justify-content-between mb-3">
                                <!-- Botones alineados a la izquierda -->
                                <div class="d-flex">
                                    <button type="button" id="btnNuevoInvActivo" class="btn btn-sm btn-primary me-2">
                                        <i class="fa fa-plus"></i> Nuevo
                                    </button>
                                    <button type="button" id="btnEditarInvActivo" class="btn btn-sm btn-warning me-2">
                                        <i class="fa fa-pencil"></i> Editar
                                    </button>
                                    <button type="button" id="btnEliminarInvKardex" class="btn btn-sm btn-danger me-2">
                                        <i class="fa fa-remove"></i> Eliminar
                                    </button>
                                    <button type="button" id="btnImportar" class="btn btn-sm btn-outline-success me-2">
                                        <i class="fa fa-upload"></i> Cargar Excel
                                    </button>
                                    <input type="file" id="excelInventario" style="display: none;">
                                </div>
                                <!-- Botón alineado a la derecha -->
                                <div class="d-flex">
                                    <button type="button" id="btnDescargarInvActivoPorEmpresa" class="btn btn-sm btn-default me-2">
                                        <i class="fa fa-download"></i> Descargar Inv
                                    </button>
                                    <button type="button" id="btnDescargarPlantillas" class="btn btn-sm btn-default me-2">
                                        <i class="fa fa-download"></i> Plantilla Excel
                                    </button>
                                    <button type="button" id="btnDescargarTiposActivo" class="btn btn-sm btn-default me-2">
                                        <i class="fa fa-download"></i> Tipos Activo
                                    </button>
                                </div>
                            </div>
                        </div>

                        <table id="tableActivos" class="table text-nowrap border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0" style="font-size: 15px;">COD_ACTIVO</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">NOM_ACTIVO</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">COD_MODELO</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">NOM_MARCA</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">COD_SERIE</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">IP</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">NOM_AREA</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">NUM_OC</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">NUM_GUIA</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">ANTIGUEDAD</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">OBSERVACION</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">GARANTIA</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@*<div>
        <button id="btnCargarArchivo" class="btn btn-sm btn-primary mb-4 ms-1"><i class="fe fe-upload me-1"></i>Cargar Excel</button>
        <button id="btnPlantillaArchivo" class="btn btn-sm btn-warning mb-4 ms-1"><i class="fe fe-download me-1"></i>Plantilla Excel</button>
    </div>*@

<!-- MODAL LOCAL-->
<div class="modal fade" id="modalLocales" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Seleccione un local</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tableLocales" class="table text-nowrap border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0" style="font-size: 11px;">LOCAL</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">NOMBRE</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">PMM</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">OFIPLAN</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">CODIGO SUNAT</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">COD_EMPRESA</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">COD_CADENA</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">COD_REGION</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">COD_ZONA</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnObtenerInvPorLocal" class="btn btn-sm btn-primary">Aceptar</button>
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CREAR EMPRESA -->
<div class="modal fade" id="modalInvActivo" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloModalInvActivo"></h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btnActualizarInvActivo" class="btn btn-primary">Guardar</button>
                <button id="btnGuardarInvActivo" class="btn btn-primary">Guardar</button>
                <button class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL IMPORTAR INV ACTIVO-->
<div class="modal fade" id="modalImportarInvActivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalImportarInvActivo">Importar Inventario desde Excel </h5>
                <button aria-label="Close" class="btn-close text-end" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <input class="form-control" type="file" id="archivoExcelInvActivo" />
                    <br />
                    <div class="text-center">
                        <button class="btn btn-success" type="button" id="btnCargarExcelInvActivo">Cargar Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ERRORES IMPORTAR EXCEL-->
<div class="modal fade" id="modalErroresImportacionExcel" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalImportarEmpresa">Errores encontrados</h5>
                <button aria-label="Close" class="btn-close text-end" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fila</th>
                            <th>Mensaje</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyErroresCaja">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/date-picker/date-picker.js"></script>
    <script src="~/Content/plugins/date-picker/jquery-ui.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.maskedinput.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/ViewJs/AdministrarInvActivo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AdministrarInvActivo.init();
        });
    </script>
    @*<script>
             var codEmpresaSession = '@SPSA.Autorizadores.Web.Utiles.WebSession.JerarquiaOrganizacional.CodEmpresa';
             var codCadenaSession = '@SPSA.Autorizadores.Web.Utiles.WebSession.JerarquiaOrganizacional.CodCadena';
             var codRegionSession = '@SPSA.Autorizadores.Web.Utiles.WebSession.JerarquiaOrganizacional.CodRegion';
             var codZonaSession = '@SPSA.Autorizadores.Web.Utiles.WebSession.JerarquiaOrganizacional.CodZona';
             var codLocalSession = '@SPSA.Autorizadores.Web.Utiles.WebSession.JerarquiaOrganizacional.CodLocal';
        </script>*@
}